
<!DOCTYPE html>
<html>
<head>
	<title>
		 Super Resolution!
	</title>
</head>
<body bgcolor="DodgerBlue">
	<h1 style="background-color:DodgerBlue;color:White;">
		<font size="6"><center>Enhance Photo in one Magical Click. Make your pictures Awesome.
		</center></font></h1>

	<center><img src="srsample.jpg" alt="Paris" class="center"></center>
</body>
</html>


<%= link_to 'HOME PAGE ' , root_path%>